

<h2> <%= @query %> </h2>
<br/>
<h3 class="text-primary"><%= @result[:time] / 6000 %></h3> <br/>
<h4> <%= @result[:translation] %> </h4> <br/>
<h4> <%= @result[:score] %> </h4> <br/>
<h4> <%= @result[:message] %> </h4> <br/>
